<!-- /views/layouts/layouts.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= locals.title ? title : 'Toko Jahit' %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="/img/apple-icon.png" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/templatemo.css" />
    <link rel="stylesheet" href="/css/custom.css" />

    <!-- Load fonts style after rendering the layout styles -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap"
    />
    <link rel="stylesheet" href="/css/fontawesome.min.css" />

    <%- locals.style ? style : '' %>
  </head>

  <body>
    <!-- Load Top Nav -->
    <%- include('../partials/topnav') %>

    <!-- Load Header/Navbar -->
    <%- include('../partials/header') %> <% if(messages.success) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= messages.success %>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <% } %> <% if(messages.error) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= messages.error %>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <% } %>

    <!-- Content Area -->
    <%- body %>

    <!-- Load Footer -->
    <%- include('../partials/footer') %>

    <!-- Start Script -->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/templatemo.js"></script>
    <script src="/js/custom.js"></script>
    <%- locals.script ? script : '' %>
    <!-- End Script -->
  </body>
</html>
